# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of libraries used in data science
- Example of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- SciPy
- TensorFlow

| Data Science Tools |
|--------------------|
| Jupyther Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

his a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
from dateutil.relativedelta import relativedelta
relativedelta (minutes=200)

relativedelta(hours=+3, minutes=+20)

## Author
Val√©rie GHIRINGHELLI